<div class="dialog_wrapper">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <div class="dialog_content">
    <img src="{{ data.image }}" alt="{{ data.title }}" />
    <p>{{ data.description }}</p>
  </div>
  <div class="product_price">
    <p><b>Цена:</b> {{data.price}} $</p>
  </div>
  <div class="map-container">
    <ya-map [center]="[centerMoscow.longitude, centerMoscow.latitude]" [zoom]="10" [state]="{ controls: [] }">
      <ya-clusterer>
        <ya-placemark
        *ngFor="let point of mapPointsArray"
        [geometry]="[point.longitude, point.latitude]"
        (yaclick)="onPointClick($event)"
      ></ya-placemark>
      </ya-clusterer>
    </ya-map>
  </div>
</div>
