 .dialog_wrapper {
    display: flex;
    width: 40vw;
    align-items: center;
    flex-direction: column;
    .dialog_content {
        display: flex;
        gap: 1rem;
        img {
            max-width: 20%;
            object-fit: contain;
        }
    }
    .map-container {
        padding: 0 5vw 0 5vw;
        width: 40vw;
        height: 50vh;
    }
}

