<form class="form-container" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="first-name">Имя</label>
    <input id="first-name" type="text" formControlName="firstName" autocomplete="off">
    
    <div class="warning" *ngIf="profileForm.get('firstName')?.invalid && (profileForm.get('firstName')?.dirty || profileForm.get('firstName')?.touched)">
        Введите имя
    </div>
  
    <label for="last-name">Фамилия</label>
    <input id="last-name" type="text" formControlName="lastName" autocomplete="off">

    <div class="warning" *ngIf="profileForm.get('lastName')?.invalid && (profileForm.get('lastName')?.dirty || profileForm.get('lastName')?.touched)">
        Введите фамилию
    </div>

    <label for="first-name">Отчество</label>
    <input id="first-name" type="text" formControlName="middleName" autocomplete="off">
  
    <label for="last-name">Почта</label>
    <input id="last-name" type="text" formControlName="email" autocomplete="off">

    <div class="warning" *ngIf="profileForm.get('email')?.invalid && (profileForm.get('email')?.dirty || profileForm.get('email')?.touched)">
        Введите электронную почту
    </div>

    <label for="first-name">Мобильный телефон</label>
    <input id="first-name" type="text" formControlName="phone" autocomplete="off">
    <div class="warning" *ngIf="profileForm.get('phone')?.invalid && (profileForm.get('phone')?.dirty)">
        Введите телефон
    </div>
  
    <p>Заполните поля, чтобы отправить форму</p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

